
<form action="/articles" method = "post">
<label for="fname">Title:</label><br>
<input type="text" name="title"><br>
<label for="lname">Content:</label><br>
<input type="text" name="content">
<input type = "submit" />
</form>